[submodule "Week-1/Project-1"]
	path = Week-1/Project-1
	url = https://github.com/jaeoh91/AI201-Project-1
[submodule "Week-2/Project-2"]
	path = Week-2/Project-2
	url = https://github.com/jaeoh91/AI201-Project2
[submodule "Week-3/Project-3"]
	path = Week-3/Project-3
	url = https://github.com/jaeoh91/AI201-Project-3
[submodule "Week-4/Project-4"]
	path = Week-4/Project-4
	url = https://github.com/jaeoh91/AI201-Project-4
[submodule "Week-5/Project-5"]
	path = Week-5/Project-5
	url = https://github.com/jaeoh91/AI201-Project5
